/* spinner */
.spinner {
  display: block;
  position: relative;
  width: 9.6px;
  height: 9.6px;
  background: #84cc16;
  color: #84cc16;
  border-radius: 50%;
  box-shadow:
    16px 0,
    -16px 0;
  animation: dots-u8fzftsm 0.8s infinite linear alternate;
}

@keyframes dots-u8fzftsm {
  0% {
    box-shadow:
      16px 0,
      -16px 0;
    background: none;
  }

  33% {
    box-shadow:
      16px 0,
      -16px 0 rgba(134, 187, 146, 0.13);
    background: rgba(134, 187, 146, 0.13);
  }

  66% {
    box-shadow:
      16px 0 rgba(134, 187, 146, 0.13),
      -16px 0;
    background: rgba(134, 187, 146, 0.13);
  }
}
