@tailwind base;
@tailwind components;
@tailwind utilities;

/* initial settings */
@layer base {
  @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #333;

    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    /* Blocked IOS touch interactions */
    -webkit-tap-highlight-color: transparent;

    /* Hidden Scrollbar */
    -ms-overflow-style: none;
    scrollbar-wdith: none;

    /* Blocked Drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Drag Selection */
  ::selection {
    background-color: #bdecb6;
    color: #000000;
  }

  ::-moz-selection {
    background-color: #bdecb6;
    color: #000000;
  }

  /* selected Drag */
  p,
  code,
  pre,
  blockquote {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  /* Hidden Scrollbar */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 20rem;
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  ul,
  li,
  ol {
    list-style-type: none;
  }
  /* initial setting is done */

  /* layout */
  .isWrapper {
    width: 90%;
    max-width: 48rem;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  /* custom class */
  .scroll-hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
  }

  .glassMorphism {
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  /* font */
  h1 {
    font-size: 2.25rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3 {
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    width: max-content;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
  }

  /* underline */
  h3:before {
    content: '';
    position: absolute;
    width: 100%;

    margin-top: 1.4rem;
    padding: 0.15rem;

    border-radius: 1rem;
    background-color: #50ad63;
  }

  /* animation */
  @keyframes upDisappear {
    from {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
    to {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  /* mobile */
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4,
    p {
      font-size: 0.9rem;
    }
  }
}
