@tailwind base;
@tailwind components;
@tailwind utilities;

/* initial settings */
@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #333;
    line-height: 180%;

    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, Tossface,
      system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    /* Blocked IOS touch interactions */
    -webkit-tap-highlight-color: transparent;

    /* Hidden Scrollbar */
    -ms-overflow-style: none;
    scrollbar-wdith: none;

    /* Blocked Drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Drag Selection */
  ::selection {
    background-color: #bdecb6;
    color: #000000;
  }

  ::-moz-selection {
    background-color: #bdecb6;
    color: #000000;
  }

  /* selected Drag */
  .markdown-body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  p {
    padding: 0.35rem 0;
  }

  /* Hidden Scrollbar */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 20rem;
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }

  table {
    margin: 1rem auto !important;
  }

  summary {
    cursor: pointer;
    border-bottom : 2px solid #4caf50;
    width : max-content;
    transition : 0.15s ease-in-out;
    padding : 0.15rem 0.5rem;
  }

  summary:hover {
    background-color : #4caf50;
    color : white;
    border-bottom : 2px solid white;
  }

  summary::marker {
    transition: 0.35s ease-in-out;
    color: #4caf50;
  }

  summary:hover::marker {
    color: white;
  }

  img {
    border-radius: 0.75rem;
    width: max-content;
  }

  blockquote {
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }

  blockquote p {
    font-weight: bold;
  }

  pre>code
  {
    border-radius: 0.75rem;
    border: 0px solid;

    box-shadow : 0 10px 20px rgba(0,0,0,.2), 0 6px 6px rgba(0,0,0,.2);
  }

  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  ul,
  li,
  ol {
    list-style-type: none;
  }

  li {
    font-weight: semibold;
  }

  ul,
  ol {
    padding: 1rem;
    margin: 1rem 0;
  }

  li > ul {
    margin: 0;
  }

  ol {
    border-radius: 0.75rem;
    border : 1px solid #979797;
  }

  ol li {
    margin : .35rem 0;
  }

  ul {
    list-style-type: none; /* 기본 글머리 숨김 */
    padding-left: 20px; /* 왼쪽 여백 설정 */
  }

  ul li {
    position: relative;
    margin-bottom: 10px;
  }

  ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  table {
    margin: 1rem 0;
    border: 1px solid #ddd;
  }

  thead {
    background-color: #f2f2f2;
    padding: 0.75rem 2.5rem;
    margin-bottom: 10px;
  }

  th {
    border: 1px solid #ddd;
    padding: 0.75rem 2.5rem;
  }

  td {
    border: 1px solid #ddd;
    padding: 0.75rem 2.5rem;
  }

  ul li::before {
    content: '';
    display: block;
    position: absolute;
    left: -14px; /* 아이템 마커 위치 조절 */
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4caf50;
  }

  ul[class='contains-task-list'] {
    padding-left: 0;
  }

  ul li[class='task-list-item']::before {
    content: '';
    display: none;
  }

  ol li {
    counter-increment: item;
    text-align: left; /* 카운터 증가 */
  }

  ol li::before {
    display: inline-block;
    content: counter(item) '. ';
    font-weight: bold;
    text-align: center;
    width: 1.25rem;
    padding-right: 0.5rem; /* 순서와 마침표 추가 */
  }

  ul ul {
    padding-left: 20px; /* 중첩된 목록의 왼쪽 여백 설정 */
  }

  hr {
    margin: 1.2rem 0 1rem;
  }

  /* initial setting is done */

  /* layout */
  .isWrapper {
    width: 90%;
    max-width: 48rem;
    margin: 1rem auto;

    display: flex;
    flex-wrap: wrap;
  }

  /* custom class */
  .scroll-hidden {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
  }

  .glassMorphism {
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  .hidden-last-arrow a:last-child > span:last-child {
    display: none;
  }

  .hidden-blur:hover :last-child > div:after {
    display: none !important;
  }

  /* font */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 162.5%;
  }
  h2 {
    font-size: 1.675rem;
    font-weight: bold;
    line-height: 162.5%;
  }

  h3 {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    width: max-content;
    line-height: 162.5%;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
  }

  p,
  h4,
  li,
  summary p,
  summary {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 180%;
  }

  mjx-container[jax='SVG'][display='true'] {
    display: flex !important;
    justify-content: center;
  }

  /* underline */
  h3:before {
    content: '';
    position: absolute;
    width: 100%;

    margin-top: 2.075rem;
    padding: 0.15rem;

    border-radius: 1rem;
    background-color: #50ad63;
  }

  /* animation */
  @keyframes upDisappear {
    from {
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
    to {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  @keyframes skeleton-gradient {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }

  /* mobile */
  @media only screen and (max-width: 768px) {
    summary {
      font-weight: semiboid;
      color: #50ad63;
    }

    .markdown-body pre > code > span {
      font-size: 0.75rem !important;
    }

    .markdown-body pre > code, code {
      font-size: 0.75rem !important;
      line-height: 1.6 !important;
    }

    .markdown-body p > u > em {
      padding: 1.95rem 0 !important;
      font-size: 0.95rem !important;
    }

    .markdown-body th, .markdown-body tr {
      font-size : 0.85rem !important;
      padding: 0.375rem 1.25rem;
    }

    summary p {
      font-weight: 400;
    }

    h1 {
      font-size: 1.625rem;
    }

    h2 {
      font-size: 1.375rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    h3:before {
      margin-top: 1.85rem;
      padding: 0.15rem;
    }

    h4,
    li,
    summary p,
    summary,
    p > a,
    p {
      font-size: 0.95rem;
    }

    p {
      padding-bottom: 0.4rem;
    }

    p > a {
      line-height: 120%;
    }

    .markdown-body h1 {
      padding-top: 1.2rem;
    }

    .markdown-body h2 {
      padding-top: 1rem;
    }

    .markdown-body h3 {
      padding-top: 1.25rem;
      padding-bottom: 0.25rem;
    }
  }
}

/* custom markdown */
.markdown-body img {
  max-width : 500px;
}

.markdown-body pre {
  padding: 1rem 0;
}

.markdown-body details {
  padding-bottom: 1rem;
}

.markdown-body h1 {
  padding-top: 2rem;
}

.markdown-body h2 {
  padding-top: 1.75rem;
}

.markdown-body h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.55rem;
}

.markdown-body strong {
  font-weight: bold;
  color: #333;
}

.markdown-body pre > code {
  font-size: 0.875rem;
  white-space: break-spaces !important;
}

.markdown-body p > code {
  color: #50ad63;
  font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', 'monospace';
  font-size : 0.85rem;
  padding : .1rem .35rem;
  white-space: normal;
  background: rgba(0,0,0,.1);
  color: black;
}

.markdown-body pre > em {
  color: #979797;
}

.markdown-body blockquote > b {
  color: #50ad63;
}

.markdown-body p > u > em {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 2.25rem 0;
  text-align: center;

  font-size: 1.15rem;

  color: #777;
  text-decoration-color: #777;
}

.markdown-body blockquote {
  background-color: rgb(187, 250, 203, 0.5);
}

.markdown-body img {
  margin: 0 auto;
  width: 100%;

  padding: 1.25rem 0;
}

.markdown-body p > a {
  color: #0969da;
}

.markdown-body p > a:hover {
  transition: 0.35s ease-in-out;
  color: #54aeff;
}

.markdown-body p > a:active {
  color: #033d8b;
}

/* spinner */
.spinner {
  width: 9.6px;
  height: 9.6px;
  background: #86bb92;
  color: #86bb92;
  border-radius: 50%;
  box-shadow: 16px 0, -16px 0;
  animation: dots-u8fzftsm 0.8s infinite linear alternate;
}

@keyframes dots-u8fzftsm {
  0% {
    box-shadow: 16px 0, -16px 0;
    background: none;
  }

  33% {
    box-shadow: 16px 0, -16px 0 rgba(134, 187, 146, 0.13);
    background: rgba(134, 187, 146, 0.13);
  }

  66% {
    box-shadow: 16px 0 rgba(134, 187, 146, 0.13), -16px 0;
    background: rgba(134, 187, 146, 0.13);
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}
