@tailwind base;

/** color */
@layer base {
  /** light theme */
  :root[color-theme*='light'] {
    --black: #222;
    --white: #fff;
    --green-dark: theme(colors.green.dark);
    --green-darker: theme(colors.green.darker);
    --green-main: theme(colors.green.main);
    --green-brighter: theme(colors.green.brighter);
    --green-bright: theme(colors.green.bright);
    --yellow: #fffa82;
    --gray-main: #b7b7b7;
    --gray-darker: #777;
    --blue-main: #0969da;
    --blue-bright: #54aeff;
    --blue-darker: #033d8b;
    --strong: var(--black);
    --strong-callout: var(--black);
    --bg-thead: #f2f2f2;
    --bg-callout: rgb(187, 250, 203, 0.5);
    --border-table: #ddd;

    accent-color: var(--green-main);
  }

  /** dark theme */
  :root[color-theme*='dark'] {
    --black: #efefef;
    --white: #222;
    --green-dark: theme(colors.green.bright);
    --green-darker: theme(colors.green.brighter);
    --green-main: theme(colors.green.main);
    --green-brighter: theme(colors.green.darker);
    --green-bright: theme(colors.green.dark);
    --yellow: #fffa82;
    --gray-main: #777;
    --gray-darker: #b7b7b7;
    --blue-darker: #0969da;
    --blue-main: #54aeff;
    --blue-bright: #94ccfd;
    --strong: var(--green-bright);
    --strong-callout: var(--black);
    --bg-thead: #393939;
    --bg-callout: rgba(16, 77, 31, 0.5);
    --border-table: #191919;

    accent-color: var(--green-main);
  }
}

/** base */
@layer base {
  html {
    display: block;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: var(--black);
    background-color: var(--white);
    line-height: 180%;

    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      Tossface,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    /* Blocked IOS touch interactions */
    -webkit-tap-highlight-color: transparent;

    /* HTML Hidden Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Blocked Drag */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  body {
    @apply antialiased;

    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
  }

  /* Body Hidden Scrollbar */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* 스크롤바의 너비 */
  }

  ::-webkit-scrollbar-track {
    background: var(--gray-main); /* 스크롤바 트랙의 배경색 */
    border-radius: 5px; /* 스크롤바 썸의 모서리를 둥글게 만듭니다 */
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray-darker); /* 스크롤바 썸의 배경색 */
    border-radius: 5px; /* 스크롤바 썸의 모서리를 둥글게 만듭니다 */
  }

  /* Drag Selection */
  ::selection {
    background-color: var(--green-bright);
    color: var(--black);
  }

  ::-moz-selection {
    background-color: var(--green-bright);
    color: var(--black);
  }

  input {
    outline: 0;
    border: 0;
  }
}

/** font */
@layer base {
  h1 {
    @apply text-4xl max-md:text-3xl font-bold break-keep;
  }

  h2 {
    @apply text-3xl max-md:text-2xl font-bold break-keep;
  }

  h3 {
    @apply text-2xl max-md:text-xl font-semibold break-keep;
  }

  h4 {
    @apply text-xl max-md:text-lg font-semibold break-keep;
  }

  p {
    @apply text-base max-md:text-sm break-keep;
  }

  span {
    @apply max-md:text-xs text-sm break-keep;
  }
}

/** layout */
@layer base {
  .layout-all {
    @apply layout-border layout-hover-pure layout-rounded layout-bg layout-text layout-text-color;
  }

  .layout-hover {
    @apply hover:border-green-darker dark:hover:border-green-bright layout-hover-pure;
  }

  .layout-hover-pure {
    @apply hover:cursor-pointer hover:bg-gray-50 dark:hover:bg-[#1a1a1a] transition-colors duration-200;
  }

  .layout-rounded {
    @apply rounded-md max-md:rounded-sm;
  }

  .layout-bg {
    @apply bg-white dark:bg-black;
  }

  .layout-text {
    @apply text-base max-md:text-sm font-light;
  }

  .layout-text-color {
    @apply text-black dark:text-white;
  }

  .layout-border {
    @apply border-[1px] layout-border-color;
  }

  .layout-border-color {
    @apply border-gray-200 duration-200 transition-colors hover:border-gray-300 dark:border-gray-600 dark:hover:border-gray-400;
  }
}

/** markdown-body */
@layer base {
  .markdown-body {
    h2 {
      @apply pt-16;
    }

    h3 {
      @apply pt-12;
    }

    h4 {
      position: relative;
      width: fit-content;
      z-index: 2;

      @apply pt-8;
    }

    h4:after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0%;
      background-color: var(--green-main);
      opacity: 50%;
      z-index: 1;

      @apply py-0.5 mt-7 max-md:mt-6;
    }

    /* code */
    :not(pre[class*='language-'], blockquote p) > code {
      @apply bg-gray-200 dark:bg-[#191919] font-bold layout-text-color tracking-tight;
    }

    a {
      text-decoration-line: underline;
      display: inline-block;

      @apply text-blue-500 dark:text-blue-400 dark:hover:text-blue-500 transition-colors duration-200 hover:text-blue-700 break-keep;
    }

    a:after {
      --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1l9-9m-5 0h5v5'/%3E%3C/svg%3E");
      content: '';
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background-color: currentColor;
      -webkit-mask-image: var(--svg);
      mask-image: var(--svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      transform: translate(0.125rem, 25%);
    }

    p {
      @apply pt-5 leading-loose;

      strong {
        background-color: var(--green-bright);
        color: var(--black);
      }
    }

    hr {
      @apply mt-8 pb-8;
    }

    details {
      @apply pt-4 layout-text;
    }

    summary {
      @apply hover:cursor-pointer layout-text;

      ~ * {
        @apply pt-0 pl-4;
      }
    }

    table {
      @apply mt-8;
    }

    ul {
      @apply pt-8 layout-text;

      list-style-type: disc;
      padding-left: 1rem;

      li {
        padding-left: 0.35rem;
        line-height: 200%;

        &::marker {
          color: var(--gray-darker);
        }

        ul {
          @apply pt-0;
        }
      }
    }

    /* no padding ul instantly after heading */
    :is(h2, h3, h4) + ul {
      @apply pt-4;
    }

    ol {
      @apply pt-8 layout-text;

      list-style-type: decimal;
      padding-left: 1rem;

      li {
        padding-left: 0.35rem;
        line-height: 200%;

        &::marker {
          color: var(--gray-darker);
        }
      }
    }

    /* no padding ol instantly after heading */
    :is(h2, h3, h4) + ol {
      @apply pt-4;
    }

    table {
      @apply pt-8 layout-text;

      thead {
        @apply bg-gray-200 dark:bg-[#191919] font-bold;
      }

      tbody {
        @apply font-normal;
      }

      th,
      td {
        @apply px-6 py-2.5 border-[1px];
      }
    }

    blockquote {
      @apply bg-green-bright dark:bg-green-dark layout-rounded p-4 mt-8;

      p {
        @apply pt-0;

        > strong:after {
          display: none;
        }

        code {
          @apply bg-green-brighter dark:bg-emerald-950;
        }
      }

      ::selection {
        background-color: var(--green-darker);
        color: var(--white);
      }

      ::-moz-selection {
        background-color: var(--green-darker);
        color: var(--white);
      }
    }

    img {
      @apply mt-16 mx-auto w-full rounded-3xl max-md:rounded-xl;
    }

    /* no margin image instantly after heading */
    :is(h4, h3, h2) + img {
      @apply mt-4;
    }

    /* code snippets */
    pre[class*='language-'] {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;

      @apply mt-8 rounded-lg max-md:rounded-md max-w-layout;

      span {
        @apply text-base max-md:text-sm;
      }
    }

    /* image caption */
    div[class='image-caption'] {
      @apply text-sm max-md:text-xs py-1 text-gray-500 dark:text-gray-300 font-light mx-auto w-full text-center;
    }

    /* code block title */
    h5[class='code-title'] {
      @apply text-sm max-md:text-xs no-underline bg-gray-300 dark:bg-[#191919] w-full py-2 px-4 translate-y-8 rounded-t-md;
      + pre {
        @apply rounded-t-none;
      }
    }
  }
}
