@tailwind components;
@layer components {
  .absolute-center {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .skeleton {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    animation: skeleton 1.25s infinite ease-in-out;
    border-radius: 0.5rem;
  }

  @keyframes skeleton {
    0% {
      background: rgb(165 165 165 / 10%);
    }

    50% {
      background: rgb(165 165 165 / 50%);
    }

    100% {
      background: rgb(165 165 165 / 10%);
    }
  }
}

@layer components {
  .icons {
    @apply border-[1px] icons-size-medium icons-pure;
  }

  .icons-pure {
    @apply flex items-center p-1 icons-color icons-border;
  }

  .icons-color {
    @apply fill-gray-300 hover:cursor-pointer hover:border-gray-400 hover:bg-gray-100 hover:fill-gray-600 dark:fill-white hover:dark:border-green-main hover:dark:fill-green-main active:dark:border-green-darker active:dark:fill-green-darker hover:dark:bg-transparent rounded duration-200;
  }

  .icons-border {
    @apply dark:border-gray-600 active:bg-gray-200;
  }

  .icons-size-large {
    @apply md:w-[42px] md:h-[42px] w-[32px] h-[32px];
  }

  .icons-size-medium {
    @apply md:w-[28px] md:h-[28px] w-[24px] h-[24px];
  }

  .icons-size-small {
    @apply md:w-[20px] md:h-[20px] w-[16px] h-[16px];
  }
}
