node_modules

/build
.env
.idea

# misc
.DS_Store
*.pem
*.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*storybook.log

#firebase
firebaseAdminKey.json
.vercel
.vercel-cli

docs
.playwright-mcp

# storybook
storybook-static

# react-router 생성 타입
.react-router
