* {
  margin: 0;
  padding: 0;
}

html {
  display : block;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: var(--black);
  background-color: var(--white);
  line-height: 180%;

  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    Tossface,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  /* Blocked IOS touch interactions */
  -webkit-tap-highlight-color: transparent;

  /* Hidden Scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Blocked Drag */
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  width : 100%;
  max-width : 65.5rem;
  margin : 0 auto;
}

/* Hidden Scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Drag Selection */
::selection {
  background-color: var(--green-bright);
  color: #333;
}

::-moz-selection {
  background-color: var(--green-bright);
  color: #333;
}