h1 {
  font-size: theme(fontSize.3xl);
  font-weight: bold;
}

h2 {
  font-size: theme(fontSize.2xl);
  font-weight: semibold;
}

h3 {
  font-size: theme(fontSize.xl);
  font-weight: semibold;
}

p {
  font-size: theme(fontSize.base);
}

span {
  font-size: theme(fontSize.xs);
}
