/** light theme */
:root[color-theme*='light'] {
  --black: #222;
  --white: #fff;
  --green-dark: #365314;
  --green-darker: #4d7c0f;
  --green-main: #84cc16;
  --green-brighter: #a3e635;
  --green-bright: #d9f99d;
  --yellow: #fffa82;
  --gray-main: #b7b7b7;
  --gray-darker: #777;
  --blue-main: #0969da;
  --blue-bright: #54aeff;
  --blue-darker: #033d8b;
  --strong: var(--black);
  --strong-callout: var(--black);
  --bg-thead: #f2f2f2;
  --bg-callout: rgb(187, 250, 203, 0.5);
  --border-table: #ddd;

  accent-color: var(--green-main);
}

/** dark theme */
:root[color-theme*='dark'] {
  --black: #efefef;
  --white: #222;
  --green-dark: #365314;
  --green-darker: #4d7c0f;
  --green-main: #84cc16;
  --green-brighter: #a3e635;
  --green-bright: #d9f99d;
  --yellow: #fffa82;
  --gray-main: #b7b7b7;
  --gray-darker: #777;
  --blue-darker: #0969da;
  --blue-main: #54aeff;
  --blue-bright: #94ccfd;
  --strong: var(--green-bright);
  --strong-callout: var(--black);
  --bg-thead: #393939;
  --bg-callout: rgba(16, 77, 31, 0.5);
  --border-table: #191919;

  accent-color: var(--green-main);
}
